/*
 * KeenIoLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 11/14/2016
 */
package io.keen.api.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.core.type.TypeReference;

import io.keen.api.*;
import io.keen.api.models.*;
import io.keen.api.exceptions.*;
import io.keen.api.http.client.HttpClient;
import io.keen.api.http.client.HttpContext;
import io.keen.api.http.request.HttpRequest;
import io.keen.api.http.response.HttpResponse;
import io.keen.api.http.response.HttpStringResponse;
import io.keen.api.http.client.APICallBack;
import io.keen.api.controllers.syncwrapper.APICallBackCatcher;

public class WardrobeResourceController extends BaseController {    
    //private static variables for the singleton pattern
    private static Object syncObject = new Object();
    private static WardrobeResourceController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the WardrobeResourceController class 
     */
    public static WardrobeResourceController getInstance() {
        synchronized (syncObject) {
            if (null == instance) {
                instance = new WardrobeResourceController();
            }
        }
        return instance;
    }

    /**
     * Use this resource to request a garment of a given size to a given address. This is really just the Event Collect Resource, except you must use a specific project ID, write key, and collection name. See below. POST is for inserting one event at a time in a single request, for a single person. Examples below. Note: Wardrobe resource has questionable availability and response time depending on inventory, expense to ship to your country, trolls, team temperament, and our willingness to visit the post office in a given week.
     * @param    PostWardrobeResourceInput    Object containing request parameters
     * @return    Returns the CreatedResponse response from the API call 
     */
    public CreatedResponse postWardrobeResource(
                final PostWardrobeResourceInput input
    ) throws Throwable {
        APICallBackCatcher<CreatedResponse> callback = new APICallBackCatcher<CreatedResponse>();
        postWardrobeResourceAsync(input, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Use this resource to request a garment of a given size to a given address. This is really just the Event Collect Resource, except you must use a specific project ID, write key, and collection name. See below. POST is for inserting one event at a time in a single request, for a single person. Examples below. Note: Wardrobe resource has questionable availability and response time depending on inventory, expense to ship to your country, trolls, team temperament, and our willingness to visit the post office in a given week.
     * @param    PostWardrobeResourceInput    Object containing request parameters
     * @return    Returns the void response from the API call 
     */
    public void postWardrobeResourceAsync(
                final PostWardrobeResourceInput input,
                final APICallBack<CreatedResponse> callBack
    ) throws JsonProcessingException {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;
        
        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/{version}/projects/{project_id}/events/wardrobe");

        //process template parameters
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5227664811841428555L;
            {
                    put( "project_id", input.getProjectId() );
                    put( "version", input.getVersion() );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5263448739791686682L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "Authorization", Configuration.authorization );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().postBody(_queryUrl, _headers, APIHelper.serialize(input.getBody()));

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            CreatedResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<CreatedResponse>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

}